@media screen  and (max-width:600px) {
  /* popular part */
  .popular-main{
    flex-direction: column;
    width: 90%;
  }
  .popular-content{
    width: 100%;
}

.popular-img img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.popular-content > p{
    
}

 .choose-card{
        grid-template-columns: repeat(1, 1fr);
    }
    .choose-card-area p{
    }
    .choose-main p{
        width: 80%;
    }
   
   


}

