@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

*,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style  */
.switch-off {
    display: none;
}

body {
    max-width: 1340px;
    font-family: 'Mulish', sans-serif;
    margin: auto;
}
.container {
    max-width: 1080px;
    margin: auto;
    /* border: 2px solid blue; */
}
:root {
    --deep-black: color: #131318;
    --light-black: color: rgba(19, 19, 24, 0.70);
    --orange: #FF5400;
}
.main-btn{
    width: 174px;
height: 52px; 
border-radius: 8px;
background-color:var(--orange);
color: white;
font-weight: 800;
font-size: 18px;
border:2px solid transparent;
margin-top: 10px;
cursor: pointer;
transition: 1s;
}
.main-btn:hover{
    color: var(--orange);
    background-color: wheat;
    border: 2px solid var(--orange);
}
.custom-header{
    color:var(--deep-black);
    font-size:38px;
    font-weight: 800;
    text-transform: capitalize;
}
.custom-p-tag{
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
   
    width: 620px;
    margin: auto;
}
.center{text-align: center;}

/* main-style */
/* navbar styles form here */
nav {
    padding: 30px 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-title h3 {
    color: var(--deep-black);
    font-size: 34px;
    font-weight: 800;
}

.nav-item ul {
    display: flex;
    align-items: center;
}

.nav-item ul li {
    list-style: none;
    padding-left: 35px;
}

ul li a .active {
    color: var(--orange) !important;
}

.nav-item ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #424247;
}

.nav-item ul li a:hover {
    color: var(--orange);
}

/* navbar style end */




/* travel banner css start */
.banner {
    margin: auto;
    margin-bottom: 100px;
}

.banner-main {
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 10%, rgba(19, 19, 24, 0.00) 100%), url('../images/bgc.png') no-repeat;
    background-image:;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;



}

.banner-content {
    max-width: 80%;
    text-align: center;
    margin: auto;


}

.banner-h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
}

.banner-tag {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    padding: 40px 0;

}

.banner-form {
    margin: auto;
    width: min-content;
    gap: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.banner-input-icon {
    position: relative;
}

.banner-form input {
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
}

.banner-form input::placeholder {
    font-weight: 800;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);

}

.banner-input-icon i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.banner-btn {
    color: wheat;
}

.banner-btn button {
    width: 140px;
    height: 45px;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    background-color: var(--orange);
    color: white;
    font-size: 16px;
}

.banner-btn i {
    padding-right: 10px;
}

/* travel banner css end */

/* popular banner  start */
.popular{
    margin-bottom: 100px;
}
.popular-main {
    display: flex;
    gap:50px;
    max-height: 100vh;
}
.popular-img img{
   width: 100%;
   padding-left: 30px;
}

.popular-content{
    width: 50%;
}
.popular-content > h2{
text-align: left;
}
.popular-content > p{
    color: var(--light-black);
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding:10px;
width: 550px;
}
.popular-content ul{
   
    padding:5px 0px 0px 30px;
    
}
.popular-content ul li{
  padding-bottom:10px ;
  color: var(--light-black);
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}

/* popular banner  send */

/* destination style start */
.destination-main p{
    padding:20px 0 30px 0;
}
.destination-img-bar{
    height: auto;
}
.destination-img img{
    height: 280px;
}
.destination-img-bar{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
#row-1 {
    display: flex;
    gap: 10px;
    width: 100%;
}
#img-1{
    width: 50%;
}
#img-2{
    width: 50%;
}
#row-2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
    width:100%; 
        /* width: 100%;    */
}
#row-2 img:nth-child(1){
    width: 25%;
}
#row-2 img:nth-child(2){
    width: 50%;
}
#row-2 img:nth-child(3){
    width: 25%;
   }
#row-3{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}
#row-3 img:nth-child(1){
    width: 50%;
}
#row-3 img:nth-child(2){
    width: 50%;
}


/* destination style end */


/* why choose us part start*/
.choose-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content:space-around;
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-top: 40px;
}
.choose-card-area-center{
    margin: auto;
    margin-top: 30px;
}
.choose-card-area{
    width: 550px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
    
}
.choose-card-area > h3{
    padding: 15px 0;
}

/* why choose us part end */

















