@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

*,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style  */
.custom-margin {
    margin-bottom: 120px;
}

.switch-off {
    display: none;
}

body {
    max-width: 1340px;
    font-family: 'Mulish', sans-serif;
    margin: auto;
    scroll-behavior: smooth;
}

.container {
    max-width: 1080px;
    margin: auto;
    /* border: 2px solid blue; */
}

:root {
    --deep-black: color: #131318;
    --light-black: color: rgba(19, 19, 24, 0.70);
    --orange: #FF5400;
}

.main-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--orange);
    color: white;
    font-weight: 800;
    font-size: 18px;
    border: 2px solid transparent;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}

.main-btn:hover {
    color: var(--orange);
    background-color: wheat;
    border: 2px solid var(--orange);
}

.custom-header {
    color: var(--deep-black);
    font-size: 38px;
    font-weight: 800;
    text-transform: capitalize;
}

.custom-p-tag {
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    width: 620px;
    margin: auto;
}

.center {
    text-align: center;
}

/* main-style */
/* navbar styles form here */
nav {
    padding: 30px 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-title h3 {
    color: var(--deep-black);
    font-size: 34px;
    font-weight: 800;
}

.nav-item ul {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nav-item ul li {
    list-style: none;
    padding-left: 35px;
}

ul li a .active {
    color: var(--orange) !important;
}

.nav-item ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #424247;
}

.nav-item ul li a:hover {
    color: var(--orange);
}

.checkbox {
    float: right;
    font-size: 30px;
    color: black;
    line-height: 60px;
    cursor: pointer;
    margin-right: 30px;
    display: none;

}

#check {
    display: none;
}

/* navbar style end */




/* travel banner css start */
.banner {
    margin: auto;
    margin-bottom: 100px;
}

.banner-main {
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 10%, rgba(19, 19, 24, 0.00) 100%), url('../images/bgc.png') no-repeat;
    background-image: ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;



}

.banner-content {
    max-width: 80%;
    text-align: center;
    margin: auto;


}

.banner-h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
}

.banner-tag {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    padding: 40px 0;

}

.banner-form {
    margin: auto;
    width: min-content;
    gap: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    padding-right: 30px;
}

.banner-input-icon {

    display: flex;
    align-items: center;
}

.banner-input-icon>i {
    margin-left: -30px;
}

.banner-form input {
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    margin-left: 30px;
}

.banner-form input::placeholder {
    font-weight: 800;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */

}

.banner-input-icon i {}

.banner-btn {
    color: wheat;
    margin-left: 30px;
}

.banner-btn button {
    width: 140px;
    height: 45px;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    background-color: var(--orange);
    color: white;
    font-size: 16px;
}

.banner-btn i {
    padding-right: 10px;
}

/* travel banner css end */

/* popular banner  start */
.popular {
    margin-bottom: 100px;
}

.popular-main {
    display: flex;
    gap: 40px;
}

.popular-img img {
    width: 100%;
    padding-left: 30px;
}

.popular-content {
    width: 50%;
}

.popular-content>h2 {
    text-align: left;
}

.popular-content>p {
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 10px;
    width: 550px;
}

.popular-content ul {

    padding: 5px 0px 0px 30px;

}

.popular-content ul li {
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-btn {
    margin: 0;
}

/* popular banner  send */

/* destination style start */


/* destination style end */
/* second destination start */
.destination-container{
    width: 1080px;
    margin: auto;
}


.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px  0;
    gap: 10px;
    margin: ;
}

.place-1-img img{
    width: 100%;
    height: 280px;
}
.place-1-img{
    position: relative;
    width:100%;
}
.place-1-text {
    position:absolute;
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 1;
}

.place-1-text > h4 {

    font-size: 35px;
    color: white;
    display: inline;
    font-weight: 700;
  
}
  
.destination{
    text-align:center;
}
/* second destination end */




































































/* why choose us part start*/
.choose-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-top: 40px;
}

.choose-card-area-center {
    margin: auto;
    margin-top: 30px;
}
.choose-main p{
    margin-top: 30px;
}
.choose-card-area {
    width: 550px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;

}

.choose-card-area>h3 {
    padding: 15px 0;
}

/* why choose us part end */
/* dicsounts and pricing */
.pricing {
    width: 100%;
    border-radius: 16px;
}

.pricing-main {
    background: url('../images/pricing-background.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    background-color: red;
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
    padding: 55px 55px 0 55px;
    margin-bottom: 50px;
}

.pricing-banner {
    width: 579px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    /* position: absolute;
    right: 50px;
    transform: translateY(50px) */
}

.pricing-banner-container {
    width: 479px;
    height: 309px;
    margin: auto;
    margin-top: 50px;

}

.pricing-icon {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 20px;
}

.pricing-icon-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pricing-icon-content>i {
    color: #FF5400;
    font-size: 24px;
}

.pricing-icon-content {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.pricing-text-content>h2 {
    color: var(--light-black);
    font-size: 24px;
    font-weight: 800;
}

.pricing-text-content>p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;

}

.pricing-text-content>h4 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    padding: 20px 0;
}

.pricing-btn {
    background: #FF5400;
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    outline: none;
    border: none;
}

.second-discount {
    justify-content: flex-start !important;
}


/* dicsount price section end */

/* banner-video styles start */
.banner-video-content-main {
    padding-top: 30px;
}

.banner-video-content-main>h3 {
    color: #131318;
    font-size: 35px;
    font-weight: 800;
    line-height: 40px;
}

.banner-video-content-main>p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 1px 0;
}

.banner-video-ul {
    padding: 0px 30px;
}

.banner-video-ul li {
    color: var(--deep-black);
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 10px;
}

.banner-video-content {
    display: flex;
    gap: 25px;

}

.banner-video-content-video video source {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

/* banner-video styles end */

/*  letter styles start */
.newsletter-main {
    display: flex;
    gap: 50px;
    position: relative;

}

.newsletter-content {
    width: 40%;
    border: 2px solid var(--orange);
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    box-shadow: 0 45px 65px rgba(0, 0, 0, 0.50), 0 35px 22px rgba(0, 0, 0, 0.16);
    border-radius: 20px
}

.newsletter-content h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.newsletter-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    margin: 0;
    padding-top: 5px;
}

.newsletter-content .line {
    width: 100%;
    background-color: var(--orange);
    height: 2px;
    margin: 30px 0;
}

.newsletter-input input {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;

    outline: none;

    border: 0.01px solid rgb(218, 150, 126);
}

.newsletter-input input::placeholder {
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
}

.newletter-btn {
    border-radius: 8px;
    background: #FF5400;
    width: 100%;
    height: 55px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.newsletter-img {
    width: 55%;
    height: 400px;
    position: relative;


}

.newsletter-img>img {
    width: 100%;
    height: 100%;
    box-shadow: 0 45px 65px rgba(0, 0, 0, 0.50), 0 35px 22px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}

.newsletter-card {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    bottom: 48px;
    right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}

.newsletter-card a {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.newsletter-card h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* newsletter styles end */




















/* footer part styles start */
.footer {

    background-color: rgba(19, 19, 24, 0.05);
    /* background-color:violet */
    ;
    margin-top: 30px;


}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 470px;

}

.footer-header {
    display: flex;
}

.footer-h2 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    white-space: pre-line;
    padding: 20px 0;
}

.footer-icon {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 80px;
}

.footer-icon li {
    padding: 0 14px;
    border: 2px solid rgb(193, 28, 28), 30px solid black;

}

footer li i {
    font-size: 30px;
    height: 40x;
    width: 40px;
    outline: 2px solid rgb(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 100%;
}

.footer-copywrite {
    padding-top: 1000px;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}

/* footer part styles end */